body{
  background:#0d0d0d;
  color:white;
  font-family:sans-serif;
}

.chat-box{
  height:300px;
  overflow-y:auto;
  background:#111;
  padding:10px;
  border-radius:10px;
}

.user{
  text-align:right;
  color:#ffc107;
}

.bot{
  text-align:left;
  color:#00ffcc;
}